node_modules
.next
out
build
dist
.env
.env.local
.env.*.local
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
.turbo
coverage
*.tsbuildinfo
next-env.d.ts
.vscode/*.log
.vercel
.env*
